<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423234925378-j54dtss1u8cirl64a04nmoocld4trdmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423234925378-j54dtss1u8cirl64a04nmoocld4trdmt</string>
	<key>API_KEY</key>
	<string>AIzaSyBlk-fOQqd71SOqW1kKd2cjIsdwD7g_JVw</string>
	<key>GCM_SENDER_ID</key>
	<string>423234925378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SocialTools.LetsDrink</string>
	<key>PROJECT_ID</key>
	<string>letsdrink-57495</string>
	<key>STORAGE_BUCKET</key>
	<string>letsdrink-57495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423234925378:ios:be4a84bfb78f53b9</string>
	<key>DATABASE_URL</key>
	<string>https://letsdrink-57495.firebaseio.com</string>
</dict>
</plist>